default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: delivr_development

test:
  <<: *default
  database: delivr_test

production:
  <<: *default
  database: delivr_production
  password: <%= ENV['DELIVR_DATABASE_PASSWORD'] %>
