@import "bootstrap-sass"

.color-type
  width: 20px
  height: 20px

.color-white
  color: #fff
  text-align: center

  .middle
    vertical-align: middle

.color-black
  color: #333
  text-align: center

.image-logo
  margin-bottom: 50px

th.headerSortUp
  background: #fff image-url("asc.gif") no-repeat 0 0
  background-position: center right

th.headerSortDown
  background: #fff image-url("desc.gif") no-repeat 0 0
  background-position: center right

th.header
  cursor: pointer
  font-weight: bold
  background-repeat: no-repeat
  background-position: center right
  padding-left: 20px
  border-right: 1px solid #dad9c7
  margin-left: -1px

.pagination
  margin: 0 !important

.text-center
  text-align: center

.float-right
  float: right

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
  position: absolute
  left: -9999px

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
  position: relative
  padding-left: 75px
  cursor: pointer

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
  content: ''
  position: absolute

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before
  left: 0px
  top: -3px
  width: 65px
  height: 30px
  background: #DDDDDD
  border-radius: 15px
  transition: background-color .2s

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
  width: 20px
  height: 20px
  transition: all .2s
  border-radius: 50%
  background: #7F8C9A
  top: 2px
  left: 5px

[type="checkbox"]:checked + label:before
  background: #34495E

[type="checkbox"]:checked + label:after
  background: #39D2B4
  top: 2px
  left: 40px


[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after
  position: absolute
  left: 6px
  width: 65px
  border-radius: 15px
  font-size: 14px
  font-weight: bold
  line-height: 22px
  transition: all .2s

[type="checkbox"]:not(:checked) + label .ui:before
  content: "no"
  left: 32px

[type="checkbox"]:checked + label .ui:after
  content: "yes"
  color: #39D2B4

[type="checkbox"]:focus + label:before
  border: 1px dashed #777
  box-sizing: border-box
  margin-top: -1px
