@import "bootstrap-sass"

.color-type
  width: 20px
  height: 20px

.color-white
  color: #fff
  text-align: center

  .middle
    vertical-align: middle

.color-black
  color: #333
  text-align: center

.image-logo
  margin-bottom: 50px
